SUBDOMAIN=n8n
DOMAIN_NAME=<domain_name>.com
SSL_EMAIL=<email>@gmail.com
GENERIC_TIMEZONE=Europe/Moscow

POSTGRES_PASSWORD=<password>
N8N_ENCRYPTION_KEY=87805874aec4ceberf73512a1019e92e38aeb34tru499c09ed249603f65ebc1e6
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=<password>
